img {
    display: block;
    margin: auto;
    
}
h1 {
    text-align: center;
}

body {
    height: 2000px;
    background-color: #7393B3;
}

#top-img {
    height: 300px;
    overflow: hidden;
    background: transparent
}

